# Chuỗi kết nối MySQL trên aaPanel:
# Cú pháp: mysql://<Username>:<Password>@127.0.0.1:3306/<Database_name>
DATABASE_URL="mysql://tanhoangnga:MatKhauCuaBan@127.0.0.1:3306/tanhoangnga"

NODE_ENV="production"
PORT=3022
HOSTNAME="0.0.0.0"
